table {
    border-collapse: collapse;
}



table th {
    text-align: center;
    background-color: #009879;
    color: #FFF;
    padding: 4px 30px 4px 8px;
    /*padding: 12px 15px;*/
}

table tr>td {
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
}

table tr:nth-child(even) td {
    background-color: #f3f3f3;
}
